@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');
html, body {
    padding:0;
    margin:0;
    background-color: #faf5fa;
    font-family: 'Poppins';
    height: 100%;
}
.cards {
    height: 100%;
    padding: 10% 30% 20% 30%;
}
.card {
    background-color: #fff;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 3px;
}
.card img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
}
.card p, .card ul {
    color: #a3a3a3
}
.card ul {
    padding: 0;
    margin:0;
    list-style: none;
}
.card .social li {
    display: inline;
}
.social a {
    padding: 20px;
    text-decoration: none;
    color: #b59dbf;
    font-size: 30px;
}
.button {
    background-color: #b59dbf;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}
@media only screen and (max-width:1000px) {
    .cards {
        padding: 10%;
    }
}
@media only screen and (max-width:400px) {
    .cards {
        padding: 5%;
    }
}